@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

body{
  background-color: #d1e2e9;
  color: #243a6f;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}
.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}
@media (min-width: 1200px)
{
  .container{
    max-width: 1140px;
  }
}
.d-flex{
  display: flex;
  flex-direction: row;
  background: #f6f6f6;
  border-radius: 0 0 5px 5px;
  padding: 25px;
}
form{
  flex: 4;
}
.Yorder{
  flex: 2;
}
.title{
  background: black;
  border-radius:5px 5px 0 0 ;
  padding: 20px;
  color: #f6f6f6;
}
h2{
  margin: 0;
  padding-left: 15px;
}
.required{
  color: red;
}
label, table{
  display: block;
  margin: 15px;
}
label>span{
  float: left;
  width: 25%;
  margin-top: 12px;
  padding-right: 10px;
}
input[type="text"], input[type="tel"], input[type="email"], select
{
  width: 70%;
  height: 30px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #dadada;
  color: #888;
}
select{
  width: 72%;
  height: 45px;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.Yorder{
  width: 50%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  padding: 20px;
  border: 1px solid #dadada;
}
table{
  margin: 0;
  padding: 0;
  margin-left: 120px;
}
th{
  border-bottom: 1px solid #dadada;
  padding: 10px 0;
  margin-left: 30px;

}
tr>td:nth-child(1){
  text-align: center;
  color: #2d2d2a;
}
tr>td:nth-child(2){
  text-align: right;
  color: #52ad9c;
}
td{
  border-bottom: 1px solid #dadada;
  padding: 25px 25px 25px 0;
}

p{
  display: block;
  color: #888;
  margin: 0;
  padding-left: 25px;
}
.Yorder>div{
  padding: 15px 0;
}

.button-order{

  width: 40%;
  margin-top: 30px;
  padding: 10px;
  margin-left: 150px;
  border: none;
  background: #52ad9c;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
.button-order:hover{
  cursor: pointer;
  background: #428a7d;
}
.image-product{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.payment-type{
  margin-left: 130px;
}
.error{
  padding: 2%;
  color: red;
}
.success{
  padding: 2%;
  color: darkgreen;
}
.text-center{
  text-align: center;
}
