*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper{

  padding: 1%;
  width: 80%;
  margin: 0 auto;
}
.text-center{
  text-align: center;
}
.clearfix{
  float: none;
  clear: both;
}
.tbl-full{
width: 100%
}
.tbl-30{
  width: 30%;
}
table tr th{
  border-bottom: 1px solid black;
  padding: 1%;
  text-align: left;
}
table tr td{
  padding: 1%;
}
.btn-primary{
  background-color: #1e90ff;
  padding: 1%;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.btn-primary:hover{
  background-color: purple;
}

.btn-secondary{
  background-color: darkgreen;
  padding: 1%;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.btn-secondary:hover{
  background-color: green;
}
.btn-danger{
  background-color: maroon;
  padding: 1%;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.btn-danger:hover{
  background-color: red;
}
.success{
  color: green;
}
.error{
  color: #ff4757;
}




/*CSS for Menu*/
.menu{
  text-align: center;
  border-bottom: 1px solid grey;
}
.menu ul{
  list-style-type: none;
}
.menu li{
  display: inline;
  padding: 1%;
}
.menu ul li a{
  text-decoration: none;
  font-weight: bold;
  color: #243a6f;
}
.menu ul li a:hover{
color: seagreen;
}
/* CSS for Main content */
.main-content{
background-color: #d1e2e9;
padding: 3% 0;
}
.col-4{
  width: 18%;
  background-color: white;
  margin: 1%;
  padding: 2%;
  float: left;
}




/* CSS for Footer */
.footer{
  background-color: black;
  color: white;
}

/* CSS for login */
.login{
  width: 20%;
  border: 1px solid grey;
  margin: 5% auto;
  padding: 2%;
}
